{% extends "header.html" %}

{% block title %} Editing Item - {{ item.name }} {% endblock %}

{% block body %}

 


<style>
    .wrap {
        margin-top:70px;
    }
    

</style>

<div class="wrap">
     {% with messages = get_flashed_messages() %}
{% if messages %}
          {% for message in messages %}
    
    <div class="alert alert-info">{{ message }} 
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          
          </div>


{% endfor %}
{% endif %}
{% endwith %}

    
    
    
    <div class="panel panel-default">
        
        <div class="panel-body"><h4>Edit Your Item</h4></div>
       
        
        <div class="container">
   <form method='POST' action='/item/edit/{{ item.id}}'>
        <p><input type="text" name="name" class="form-control" style="width:75%" value="{{ item.name }}"> </p>
        <p><input type="text" name="size" class="form-control" style="width:75%" value="{{ item.size }}"> </p>
        <p><input type="text" name="calories" class="form-control" style="width:75%" placeholder="Calories" value="{{ item.calories }}"> </p>
        <p><input type="text" name="protein" class="form-control" style="width:75%" placeholder="Protein" value= "{{ item.protein }}" > </p>
        <p><input type="text" name="fat" class="form-control" style="width:75%" placeholder="Fat" value= "{{ item.fat }}"> </p>
            <P><input type="submit" class="btn btn-primary" value="Update"></P>
            </form>
        </div>
</div>

</div>    
            
             


            
            
   
      
  


    
    
{% endblock %}